@page "/"

<PageTitle>Home</PageTitle>

<h1>Course Assignment</h1>

This is assignment for the course <a target="_blank" href="https://www.coursera.org/learn/blazor-for-front-end-development/lecture/dERdp/building-blazor-components-with-copilot">Building blazor components with Copilot</a> on Coursera.
 